nav {
    height: 6em;
}

h1 {
  text-align: center;
}

.page-name {

  font-family: 'Life Savers', serif;
  color: blue;

  font-size: 3em;
  border: 0 auto;
  padding: 1em;

}

.box {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  height: 50%;
  width: 80%;
  padding: 6% 0;
  margin-left: 15%;
  margin-right: 19%;
  margin-bottom: 50%;

}

.left-box {
  background-color: #e6ecf4;
  width: 40%;



}

.right-box {
  width: 40%;
}

.ask-question {
  padding: .6em;
  margin: .5em;
  font-size: 1.5em;
}


.get-answer {
  text-decoration-color: #2b4e80;
  padding: .6em;
  margin: .5em;
  font-size: 1.5em;
}

.eight-ball {
  display: flex;
  height: 30%;
  width: 30%;
  padding: 6em;
  margin: 3em;
}

.clear {

}


/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/
